/* Styles Base de données ACONIT - Variantes spécifiques impression
V5.2.07		050709	PhD		Création
V5.3.03		050830	PhD		Changement id: tetiere
V6.2			060809	PhD		Adaptation pour impression résultats de recherche
V7.0			070612	PhD		Correction 1 erreur syntaxe
V7.6			090502	PhD		Rendu en-tête tr_ao du menu consulter non imprimable
V7.9.6		100812	PhD		Supprimé ligne inutile
V14.2			151215	PhD		Remplacement grey par gray
v15.2			160716	PhD		Complété les div à ne pas afficher
v16.5.01	170209	PhD		Ajoute #param
v18				170725	PhD		Mise à jour
v25.6.02	200219	PhD		Ajout bloc_fixe
*/

/* Styles de base,  -----------------------*/
a  				{ color: black; }				/* ne fonctionne pas ... */
a:visited	{ color: black; }				/* ne fonctionne pas ... */


.droitecran		{ display:none; }
.message		{ display:none; }
 

/* Table des couleurs --------------------------------------------------------*/
.colfond	{ }  	/* Fond de tableau */
.coltete	{ }  	/* En-tete des formulaires */	
.coltitre	{ }  	/* Lignes titres et pieds */
.collig1	{ background-color:white }  	/* Fond de ligne */
.collig2	{ background-color:white }  	/* Fond de ligne alterné */

/* Styles "consulter.inc" (fonction AffResultat) -----------------------------*/
/* Styles "rechercher.xml" ---------------------------------------------------*/
.tab_ar		{width:98%; padding:0; border:1px solid gray;}
.th_ar		{ font-size:12px; font-weight: bold; padding:2px; }
.td_ar		{ font-size:12px; padding:2px; border-right:1px solid gray;}
.td_ar9		{ display:none; }
.tab_photo	{ width:100%; border:1px solid gray; }					/* AffPhotos */

/* DIV affichées mais non imprimées ----------------------------------------------------*/ 
#tetiere													{ width:100%; padding:0; display:none;}
#debut_fin, #prec_suiv, button 		{ display:none; }   /* menu_objet */
#bloc_fixe												{ display:none; }		/* aff_recol... */
#bloc_galerie 										{ display:none; }		/* aff_... */
#param_														{ display:none; }		/* rech_resultat.xml et utilit_encours.xml */


